{% extends "core_index.html" %}

{% block title %} | Automóveis cadastrados{% endblock title %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "registered_vehicles.css" %}">
{% endblock css %}

{% block content %}
    <section id="first_sec">
        <h2>Automóveis cadastrados</h2>
        <form action="{% url "vehicle:plate_search" %}" method="post">
            {% csrf_token %}
            <b>Placa do veículo:</b> {{ form.plate_search }}
            <input type="submit" value="Buscar">
            <br>
            <br>
        </form>
    </section>
    <section id="second_sec">
        {% for vehicle in all_registered_vehicles %}
            <div id="registered_vehicles">
                <span><b>Modelo:</b> {{ vehicle.model }}</span><br>
                <span><b>Placa:</b> {{ vehicle.vehicle_plate }}</span><br>
                <br>
            </div>
        {% endfor %}
    </section>
{% endblock content %}