#first_sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec_title {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
#unoccupied_parking {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;    
}
.parking_link {
    margin: 8px;
    padding: 4px;
    font-size: large;
    font-weight: 700;
    text-decoration: none;
    background-color: #FF8811;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: #392F5A;
}
.parking_link:hover{
    color: #FFF8F0;
}
#second_sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#form {
    padding: 8px;
    background-color: #FF8811;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
b {
    font-size: larger;
    color: #392F5A;
}