<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estacionamento{% block title %}{% endblock title %}</title>
    {% block css %}
        {% load static %}
        <link rel="stylesheet" href="{% static "core_index.css" %}">
    {% endblock css %}
</head>
<body>
    <h1>Estacionamento do Bosque</h1>
    <nav>
        <a href="{% url "driver:driver_register_form" %}">Cadastro de motoristas</a>
        <a href="{% url "driver:registered_drivers" %}">Motoristas cadastrados</a>
        <a href="{% url "vehicle:vehicle_register_form" %}">Cadastro de automóveis</a>
        <a href="{% url "vehicle:registered_vehicle" %}">Automóveis cadastrados</a>
        <a href="{% url "core:index" %}">Vagas disponíveis</a>
        <a href="{% url "parking_space:occupied_parking_spaces" %}">Vagas ocupadas</a>
        <a href="{% url "parking_space:parking_assignment_form" %}">Cadastrar entrada</a>
        <a href="{% url "parking_space:parking_creation_form" %}">Criar vagas</a>
    </nav>
    <main>
        {% block content %}
            <h2>Vagas disponíveis</h2>
            {% for parking_space in parking_spaces %}
                <a href="{% url "parking_space:parking_space_history" parking_space.id %}">{{ parking_space }}</a>
            {% endfor %}
            <h2>Buscar automóvel</h2>
            <form action="{% url "parking_space:parking_space_history_plate_search" %}" method="post">
                {% csrf_token %}
                Placa do veículo: {{ form.plate_search }}
                <input type="submit" value="Buscar">
            </form>
        {% endblock content %}
    </main> 
</body>
</html>